*.pyc
autogp/util/tf_ops/matpackops.so
experiments/data/cifar-10-batches-py
experiments/data/cifar-10-python.tar.gz
experiments/data/MNIST_data
experiments/data/infimnist.tar.gz
experiments/data/infimnist/
experiments/data/rectangles_images.zip
experiments/data/rectangles_im_test.amat
experiments/data/rectangles_im_train.amat
experiments/data/sarcos_inv.mat
experiments/data/sarcos_inv_test.mat

.DS_Store

#tags
.tags


*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/


# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
