*.pyc
autogp/util/tf_ops/matpackops.so
experiments/data/cifar-10-batches-py
experiments/data/cifar-10-python.tar.gz
experiments/data/MNIST_data
experiments/data/infimnist.tar.gz
experiments/data/infimnist/
experiments/data/rectangles_images.zip
experiments/data/rectangles_im_test.amat
experiments/data/rectangles_im_train.amat
experiments/data/sarcos_inv.mat
experiments/data/sarcos_inv_test.mat
experiments/data/convex.zip
experiments/data/convex_train.amat
experiments/data/50k/
results/

